




<h5 class="index_title">
    <span class="title">成绩</span>
</h5>
<div class="list-group">
    <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank" class="list-group-item">
        <span class="title">
			xx
		</span>
        <span class="fraction float_r">xx</span>
    </a>
    <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank" class="list-group-item">
        <span class="title">
			xx
		</span>
        <span class="fraction float_r">xx</span>
    </a>
    <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank" class="list-group-item">
        <span class="title">
			xx
			</span>
        <span class="fraction float_r">xx</span>
    </a>
    <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank" class="list-group-item">
        <span class="title">
			xx
			</span>
        <span class="fraction float_r">xx</span>
    </a>
    <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank" class="list-group-item">
        <span class="title">
			xx
			</span>
        <span class="fraction float_r">xx</span>
    </a>
    <div>
        <a onclick="clickMenu('脱敏数据','/cjcx/cjcx_cxDgXscj.html','学生成绩查询'); return false;" target="_blank">
            <p align="right" id="xscjcxgd">...更多</p>
        </a>
    </div>
</div>